body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
  color: #333;
}

nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  background: #f4f4f4;
}

nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: rgb(47, 113, 255); /* black space for hyperlink */
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  transition: 0.3s;
}


.info-box {
  background: white;
  margin: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.container {
  max-width: 1000px;
  padding: 1rem;
  margin: 1rem auto;
}

.info-box {
  background: white;
  margin: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}