{% extends "Suppliers/base.html" %}

{% load static %}
{% block title %}Supplier Login{% endblock %}
{% block header %}

    <h1>Supplier Login</h1>
    <p>Access your supplier account</p>
    <a href="{% url 'suppliers' %}" class="supplier-link">Suppliers home</a>
{% endblock %}

{% block content %}
<div class="action-box" >
  <h2>{{ title }}</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Iniciar Sesión</button>
  </form>

</div>
{% endblock %}
