{% extends 'Suppliers/base.html' %}
{% load static %}

{% block title %}
Añadir producto - Products
{% endblock %}

{% block nav %}
<a href="{% url 'products_list' supplier_pk=supplier.pk %}" class="supplier-link">Lista de productos</a>
{% endblock %}

{% block header %}
<h1>{{ title|default:"Descripción del Producto" }}</h1>
<p>Añadir nuevo producto a tu estante virtual</p>
{% endblock %}


{% block content %}

<div class="info-box">
    <form method="post" class="product-form" action="{% url 'addproducts' supplier_pk=supplier.pk %}">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="error">
                {{ form.non_field_errors }}
            </div>
        {% endif %}


        <div class="action-box">
        {{ form.name.label_tag }}
        {{ form.name }}
        {% if form.name.errors %}
            <p class="error">{{ form.name.errors.0 }}</p>
        {% endif %}

        <br><br>
       
        {{ form.price.label_tag }}
        {{ form.price }}
        {% if form.price.errors %}
            <p class="error">{{ form.price.errors.0 }}</p>
        {% endif %}

        <br><br>

        {{ form.confirm_price.label_tag }}
        {{ form.confirm_price }}
        {% if form.confirm_price.errors %}
            <p class="error">{{ form.confirm_price.errors.0 }}</p>
        {% endif %}
        </div>  

        <div class="action-box">
        {{ form.description.label_tag }}
        {{ form.description }}
        {% if form.description.errors %}
            <p class="error">{{ form.description.errors.0 }}</p>
        {% endif %}
        </div>

        <div class="action-box">
        {{ form.expiration_date.label_tag }}
        {{ form.expiration_date }}
        {% if form.expiration_date.errors %}
            <p class="error">{{ form.expiration_date.errors.0 }}</p>
        {% endif %}
        
        {{ form.stock.label_tag }}
        {{ form.stock }}
        {% if form.stock.errors %}
            <p class="error">{{ form.stock.errors.0 }}</p>
        {% endif %}

        {% if form.promotion %}
            {{ form.promotion.label_tag }}
            {{ form.promotion }}
            {% if form.promotion.errors %}
                <p class="error">{{ form.promotion.errors.0 }}</p>
            {% endif %}
        {% endif %}
    </div>
     <button type="submit" class="btn-logout">Guardar Producto</button>
        </div>

        <br><br>
        
       
    </form>
{% endblock %}


{% block footer %}
<p>&copy; 2025 Suppliers Network. All rights reserved.</p>
<a href="#">Privacy Policy</a> 
<a href="#">Legal Notice</a> 
<a href="#">Terms & Conditions</a>
{% endblock %}  

  