{% extends 'Suppliers/base.html' %}
{% load static %}

{% block title %} Editor de Productos - {{ product.description }} {% endblock %}
{% block nav %}
<td class="actions">
<a href="{% url 'addproducts' supplier_pk=supplier.pk %}" class="supplier-link">Añadir Producto</a>
<a href="{% url 'promos' supplier_pk=supplier.pk product_pk=product.pk %} " class="supplier-link">Promociones</a>
<a href=" {% url 'supplier_detail' supplier_pk=supplier.pk %} " class="supplier-link">Inicio</a>
</td>
{% endblock %}

{% block header %}
<h1>{{ title|default:"Product information" }}</h1>
<p>{% if form.instance.pk %}Update product information{% else %}Add new product{% endif %}</p>
{% endblock %}

{% block content %} 
    <div class="action-boxes">
        <div class="action-box">
            <form method="post" class="product-form" action="{% url 'editproduct' supplier_pk=supplier.pk product_pk=product.pk %}">
        {% csrf_token %}
        {{ form.name.label_tag }}
        {{ form.name }}
        {% if form.name.errors %}
            <p class="error">{{ form.name.errors.0 }}</p>
        {% endif %}

        <br><br>
       
        {{ form.price.label_tag }}
        {{ form.price }}
        {% if form.price.errors %}
            <p class="error">{{ form.price.errors.0 }}</p>
        {% endif %}

        <br><br>

        {{ form.confirm_price.label_tag }}
        {{ form.confirm_price }}
        {% if form.confirm_price.errors %}
            <p class="error">{{ form.confirm_price.errors.0 }}</p>
        {% endif %}
        </div>  

        <div class="action-box">
        {{ form.description.label_tag }}
        {{ form.description }}
        {% if form.description.errors %}
            <p class="error">{{ form.description.errors.0 }}</p>
        {% endif %}
        </div>

        <div class="action-box">
        {{ form.expiration_date.label_tag }}
        {{ form.expiration_date }}
        {% if form.expiration_date.errors %}
            <p class="error">{{ form.expiration_date.errors.0 }}</p>
        {% endif %}
        
        {{ form.stock.label_tag }}
        {{ form.stock }}
        {% if form.stock.errors %}
            <p class="error">{{ form.stock.errors.0 }}</p>
        {% endif %}

        {% if form.promotion %}
            {{ form.promotion.label_tag }}
            {{ form.promotion }}
            {% if form.promotion.errors %}
                <p class="error">{{ form.promotion.errors.0 }}</p>
            {% endif %}
        {% endif %}
        
                
            </div>
        </div>
        <br><br>
    <button type="submit" class="btn-logout">Guardar Cambios Producto</button>
</form>    
{% endblock %}  