{% extends 'Suppliers/base.html' %}
{% load static %}

{% block title %} Lista de Promos - {{ supplier.name }} {% endblock %}
{% block nav %}
<td class="actions">
<a href=" {% url 'supplier_detail' supplier_pk=supplier.pk %} " class="supplier-link">Inicio</a>
</td>
{% endblock %}

{% block header %}
<h1>Lista de Productos - {{ supplier.full_name }}</h1>
<p>Aquí puedes ver todos los productos de este proveedor.</p>
{% endblock %}
{% block content %} 

    <div class="info-box">
    <h2>Productos de {{ supplier.full_name }} ({{ promos.count }})</h2>   
<table class="table-custom">    
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Fecha de Expiración</th>
            <th>Stock</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for promo in promotions %}
        <tr>
            <td><p1>{{ promo.name }}</p1></td>
            <td><p1>{{ promo.description }}</p></td>
            <td><p1>{{ promo.price }}</p1></td>
            <td><p1>{{ promo.expiration_date }}</p></td>
            <td><p1>{{ promo.stock }}</p1></td>
            <td>
                    <div class="btn">
                        <a href="#">Eliminar</a>
                    </div>
                
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No hay promociones disponibles.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    </div>

{% endblock %}